/Categorias.class
/Clientes.class
/Detalles.class
/DetallesId.class
/Empleados.class
/Envios.class
/Importes.class
/ImportesId.class
/Pedidos.class
/Productos.class
/Proveedores.class
/Totales.class
/TotalesId.class
/TotalesMensuales.class
/TotalesMensualesId.class
/User.class
